.section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}

.gallery,
.text {
  min-width: 400px;
  width: 48%;
  max-width: 700px;
  height: auto;
  margin-top: 1rem !important;
  overflow: hidden;
  border-radius: 5px;
}

.text div {
  margin-bottom: 1rem;
}

.gallery .img {
  width: 100%;
  overflow: hidden;
  background-color: #03307d;
  color: #ffffff;
  position: relative;
}

.btnGroup {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  top: 45%;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}

.btnGroup > * {
  color: #ffffff;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  border: none;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btnGroup:hover > * {
  transform: scale(1.2);
}

.btnGroup svg {
  filter: drop-shadow(4px 1px 5px #03307d);
  font-size: 5rem;
  font-weight: 100;
}

.inactive {
  opacity: 0;
}

.gallery img {
  width: 100%;
  border: 5px solid;
}

.gallery figcaption {
  width: 100%;
  height: auto;
  background-color: #03307db0;
  position: absolute;
  bottom: 0;
  padding: 1rem 10px;
}

@media (max-width: 1040px) {
  .section {
    display: flex;
    justify-content: center;
  }

  .gallery,
  .text {
    width: 80%;
  }

  .img {
    order: 12;
  }
  .text {
    order: 1;
  }
}
