.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10%;
    height: 5rem;
    background-color: #202020;
    position: relative;
    z-index: 200;
}

.logo {
    font-size: 1.5rem;
    color: white;
    font-family: 'Fira', sans-serif;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    width: 100%;
    height: 100%;
}

.navigation {
    width: 100%;
    z-index: 0;
}

.navigation div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: wrap;
}
.navigation a {
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 15px;
    position: relative;
    z-index: 40;
}

.navigation span {
    width: 15px;
    height: 30px;
    border-bottom: solid 3px #73bfee;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}
.navigation a:hover span {
    width: 100%;
    border-bottom: solid 3px #2934ca;
}


.navigation .show {
    display: none;
}

@media (max-width: 980px) {

    .header{
        display: flex;
        justify-content: space-between;
        z-index: 200;
    }

    .navigation {
        width: 20%;
        justify-content: flex-end;
        transition: all 0.5s ease-in-out;
    }

    .navigation .show {
        display: flex;
        cursor: pointer;
        text-align: right!important;
        justify-content: flex-end;
    }

    .navigation .mobileNav {
        position: absolute;
        background-color: #030303;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 95px;
        left: 0;
        z-index: 35;
        transform: translateY(0);
        transition: all 0.5s ease-in-out;
    }

    .navigation .hide {
        height: 0;
        transform: translateY(-1500px);
        transition: all 0.5s ease-in-out;
    }

    .navigation .mobileNav a {
        width: 180px;
        padding: 20px 0;
        text-decoration: none;
        font-size: 2rem;
        position: relative;
    }

    .navigation .show {
        display: flex;
        cursor: pointer;
    }
}