.section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section div {
    width: 50%;
    text-align: end;
}
.section .info {
    margin-right: 1rem;
}

@media (max-width: 980px) {
    .section {
         flex-direction: column;
    }
    .section div {
        text-align: center;
    }
    .section .info {
        margin-right: 0;
    }
 }