.section .article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .article .text {
    width: 100%;
    margin: 2rem 0;
}
.section .article .text p{
    margin-top: 0;
}
.section .article .text .float{
    padding: 0 0 1rem 1rem;
    float: right;
}
.section .article .images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 680px) {
    .section .article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section .article .text {
        width: 100%;
        padding-right: 0;
    }
    .section .article .text .float{
        display: none;
    }
    .section .article .images{
        display: none;
    }
  }