.banner {
  width: 100%;
  /* min-height: 30vh; */
  height: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.imgLeft {
  width: 100%;
  /* min-height: 30vh; */
  height: auto;
  display: flex;
  flex-flow: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.banner main, .imgLeft main {
  /* z-index: 10; */
  /* min-width: 400px; */
  width: 50%;
  text-align: center;
  padding: 0 30px;
}

.banner h2, .imgLeft h2 {
  font-size: 5rem;
  margin: 0 0 1rem;
}

.banner p, .imgLeft p {
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.img {
  /* min-width: 400px; */
  width: 50%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(28, 32, 32, 0.84);
  overflow: hidden;
}

.img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 32, 32, 0.635);
  z-index: 2;
} */

@media (max-width: 1200px) {
  .banner, .imgLeft {
    width: 100%!important;
    height: auto;
    padding: 0!important;
  }
  .banner main, .imgLeft main {
    width: 100%;
    height: auto;
    padding: 0!important;
  }
  .img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 980px) {
  .banner, .imgLeft {
    width: 100%;
    height: auto;
  }
  .banner h2, .imgLeft h2{
    font-size: 3rem;
    /* margin: 0 0 1rem; */
  }
}
