.btn {
    color: #000000;
    background-color: #d4e6f7;
    padding: 5px 15px;
    font-size: 1.5rem;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-top: 5rem;
}
.btn:hover, .btn:focus {
    color: #1323b6;
    border: 8px solid #53b6f4;
    border-style: inset;
    transform: scale(1.1);
}