.header {
    width: 100%;
    height: 80vh;
    min-height: auto;
    background-color: #11286e;
    background-image: linear-gradient(to right, #16085d, #141164, #12186b, #0f1f71, #0a2678, #043687, #004695, #0056a3, #0073ba, #0090ca, #00acd5, #0cc7dd);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
}

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.container h1 {
    font-size: 5rem;
    margin-top: 0;
    letter-spacing: 3px;
}
.container p {
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 2.5px;
}
/* 
.img div {
    width: 450px;
    height: 450px;
} */
.img .imgBox img {
    width: 450px;
    height: 450px;
    border: solid 8px white;
    border-radius: 50%;
}

@media (max-width: 980px) {
    .header {
        height: auto;
        background-image: linear-gradient(to bottom, #16085d, #141164, #12186b, #0f1f71, #0a2678, #043687, #004695, #0056a3, #0073ba, #0090ca, #00acd5, #0cc7dd);
    }
    .container {
        width: 100%;
        min-height: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container div {
        width: 100%;
        text-align: center;
    }
    .container h1 {
        font-size: 4rem;
    }

    .container p {
        font-size: 1.2rem;
        line-height: 30px;
        letter-spacing: 2.5px;
    }

    .img {
        margin-top: 3rem;
    }
    
    .img .imgBox img {
        width: 300px!important;
        height: 300px!important;
        border: solid 8px white;
        border-radius: 50%;
    }
  }

@media (max-width: 680px) {
    .container {
        height: 100vh;
        min-height: auto;
    }
    .header h1 {
        font-size: 3rem;
    }
  }


