.header {
  width: 100%;
  height: 80vh;
  /* min-height: auto; */
  position: relative;
  z-index: 0 !important;
  -webkit-box-shadow: 0px 0px 28px -1px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 28px -1px rgba(0, 0, 0, 0.33);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 100;
}

.container h1 {
  font-size: 6rem;
  margin-top: 0;
  letter-spacing: 3px;
  color: #ffffff;
  text-transform: uppercase;
  /* color: #0f98fa;
  background: -webkit-linear-gradient(90deg, #82d6f7, #e6f2f7 ); */
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.titleDeco {
  color: #00b7ff;
  text-align: center;
  margin-top: -3rem !important;
}

.container span {
  font-size: 7rem;
  letter-spacing: 3px;
  color: rgba(186, 211, 231, 0.534);
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0;
}

.container div p {
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 2.5px;
  color: #ffffff;
  margin: 1rem 0 2rem;
  z-index: 50;
}

.section {
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(28, 32, 32, 0.524);
}
.section span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0 !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(28, 32, 32, 0.356); */
  z-index: 2;
}
.darkOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(28, 32, 32, 0.726); */
  z-index: 2;
}

@media (max-width: 980px) {
  .header {
    min-height: 80vh;
    height: auto;
    display: flex;
  }
  .container {
    width: 100%;
    min-height: auto;
    height: auto;
    flex-direction: column;
  }
  .section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container h1 {
    font-size: 4rem;
    text-align: center;
  }
  .container p {
    font-size: 1.2rem;
    line-height: 30px;
    letter-spacing: 2.5px;
    text-align: center;
  }
  .container span {
    font-size: 6rem;
  }
}

@media (max-width: 680px) {
  .header h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 4.5rem;
  }
  .header p {
    text-align: center;
  }
  .container span {
    font-size: 3.5rem;
  }
  .titleDeco {
    margin-top: -1.5rem !important;
  }
}
