.images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}
.images .img {
    width: 49%;
    border-radius: 5px;
    overflow: hidden;
}

.img img {
    -webkit-box-shadow: 0px 0px 28px -1px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 28px -1px rgba(0, 0, 0, 0.33);
}