.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}

.section .div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    margin-bottom: 3rem;
}
.flex .img{
    margin-left: 2rem;
    border-radius: 50%;
    overflow: hidden;
}
.flex .img img{
    margin-left: 2rem;
    border-radius: 50%;
    overflow: hidden;
}
.flex .content{
    width: 50%;
}

.memberBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}
.memberBox .teamImg {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: -30px;
    position: relative;
    z-index: 0;
}
.memberBox .info {
    background: #1c92c0;
    width: 300px;
    padding: 15px;
    position: relative;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
}
.memberBox img {
    background-color: aliceblue;
}
.memberBox h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.memberBox p {
    font-size: 1rem;
}

.memberBox .smallBox {
    width: 300px;
    background: #1c92c0;
    padding: 15px;
    position: relative;
    border-radius: 5px;
    text-align: center;
}
.memberBox .smallBox p {
    margin-bottom: 0;
}

@media (max-width: 980px) {
    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: wrap;
        margin-bottom: 1rem;
    }
    .flex .img{
        margin-right: 0;
        margin-bottom: 3rem;
    }
    .flex .content{
        width: 100%;
    }
}