.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section .div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section .div h3 {
    margin-top: 2rem;
}
.section ul {
    margin: 2rem 0;
   }
.section ul li {
    line-height: 30px;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 1rem;
   }
.divImg {
    width: 100%;
}
.div .imgFloat {
    float: right;
    width: 350px;
    height: 350px;
    margin-left: 1rem;
}
.div .imgFloatLeft {
    float: left;
    width: 350px;
    height: 350px;
    margin: 0 3rem 2.5rem 0;
    border-radius: 5px;
    overflow: hidden;
}

@media (max-width: 980px) {
   .section .div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
        border-radius: 5px;
   }
   .section ul li {
    color: #022F80; 
   }
}

@media (prefers-color-scheme: dark) {
    .section ul li {
        color: #00b7ff;
    }
  }