.box {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0;
    padding: 15px;
    text-align: center;
}
.box:hover {
    border: 0.5px solid #ffffff;
}

.box h3 {
    font-size: 1.4rem;
    padding-bottom: 10px;
}
.box p {
    font-size: 1rem;
}

.btn  {
    color: #ffffff;
    background-color: #134ef1;
    border: 2px solid #ffffff;
    font-size: 1rem!important;
    padding: 5px 10px!important;
}

.btn:hover, .btn:focus  {
    background-color: #ffffff;
    color: #134ef1;
    border: 3px solid #849fe8;
}

@media (max-width: 980px) {
    .box {
        width: 300px;
    }
  }

@media (max-width: 600px) {
    .box {
        width: 400px;
    }
  }