.box {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0;
    padding: 20px 15px;
    text-align: center;
    /* border-radius: 5px; */
}
/* .box:hover {
    border: 0.5px solid #a6a4a4fe;
} */

.box h3 {
    font-size: 1.4rem;
    margin-top: 2rem;
    padding-bottom: 10px;
    color: #134ef1;
}
.box p {
    font-size: 1rem;
}

.btn  {
    font-size: 1rem!important;
    text-transform: capitalize;
    /* padding: 5px 10px!important; */
}

/* .btn:hover, .btn:focus  {
    background-color: #ffffff;
    color: #134ef1;
    border: 3px solid #849fe8;
} */

@media (max-width: 980px) {
    .box {
        width: 300px;
    }
  }

@media (max-width: 680px) {
    .box {
        width: 400px;
    }
  }

  @media (prefers-color-scheme: dark) {
    .box h3{
        color: #00b7ff;
    }
  }