.container {
  padding: 0 2rem;
}

.list ul {
  padding: 0 0;
}

.gray {
  background-color: rgb(199, 199, 196);
}

.background {
  min-height: 300px;
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #13024f;
  background-image: url("../public/images/general/sea.jpg");
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background section {
  margin-top: 0;
}
.events {
  min-height: 300px;
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.background section {
  margin-top: 0;
}

@media (max-width: 600px) {
  /* .grid {
    width: 100%;
    flex-direction: column;
  } */
}

@media (prefers-color-scheme: dark) {
  /* .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  } */
}
